<html>

<head>
    <title>PictIF</title>

    <!-- Bootstrap related CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block style %}
    {% endblock %}

</head>

<body>
    <div id="notification-bar"></div>

    {% block body %}
    {% endblock %}

    <!-- JS files, placed at the end for faster page loading -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>

    <script src="/static/js/handlebars-v1.3.0.js"></script>

    <script src="static/js/header.js"></script>
    {% block javascript %}
    {% endblock %}

</body>

</html>
