
{% block style %}
{% endblock %}

{% block body %}
{% include "header.html" %}
<link href="/static/css/styleDrag.css" rel="stylesheet">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-select.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">

<div class="row">
    <div class="col-md-3" >
        <div class="row-xs-11">
        <input type="file" id="file">
            <div class="search">
                <div class="input-group">
                    <span class="input-group-addon">Import</span>
                    <input type="text" id="search" class="form-control" placeholder="Blocks filter">
                </div>
            </div>
            <div class="search">
                <div class="input-group">
                    <span class="input-group-addon">Search</span>
                    <input type="text" id="search" class="form-control" placeholder="Blocks filter">
                </div>
            </div>
        </div>

        <div class="blocksList">
            <table id="blockslist" class="table table-hover">
            </table>
        </div>

        <div align="right">
            <input type="button" class="btn btn-default" value="Add" id="addButton" onclick="addBlock()">
        </div>
    </div>


    <div class="col-md-6" >
        <div id="flow" class="flow">
            <div id="container">
             </div>
        </div>

        <textarea readonly id="console" class="console"></textarea>

        <div  align="right">
            <!--<input type="button" class="btn btn-default" value="Reset" id="resetButton" onclick="reset()">-->
            <input type="button" class="btn btn-default" value="Execute" id="executeButton" onclick="execute()">
            <input type="button" class="btn btn-default" value="Save" id="saveButton" onclick="save()">
        </div>
    </div>

    <div class="col-md-3" >
        <textarea readonly class="configuration">configuration</textarea>
        <div class="visualisation">
                <img src="../static/img/upload_b.png" style="max-height:100%; max-width:100%; margin:auto; display:block" class="borderDiv">
        </div>
        <textarea readonly id="description" class="description">Description</textarea>
    </div>
</div>
{% endblock body %}


{% block javascript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.jsPlumb-1.4.1-all-min.js"></script>
<script type="text/javascript" src="../static/js/draggable.js"></script>
<script src="/static/js/main.js"></script>

{% endblock %}
