{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block body %}
{% include "header.html" %}
<div class="row">
    <div class="col-md-3" >
        <div class="row-xs-11">
            <div class="search">
                <div class="input-group">
                    <span class="input-group-addon">Search</span>
                    <input type="text" id="search" class="form-control" placeholder="Blocks filter">
                </div>
            </div>
        </div>

        <div class="blocksList">
            <table id="blockslist" class="table table-hover">
              <tr id="block1" class="item" onclick="selectLine(this)">
                <td>Ligne 0 case 0</td>
              </tr>
              <tr  id="block2" class="item" onclick="selectLine(this)">
                <td>Ligne 2 case 0</td>
              </tr>
              <tr id="block3"  class="item" onclick="selectLine(this)">
                <td>Ligne 2 case 0</td>
              </tr>
            </table>
        </div>

        <div align="right">
            <input type="button" class="btn btn-default" value="Add" id="addButton" onclick="addBlock()">
        </div>
    </div>


    <div class="col-md-6" >
        <div id="flow" class="flow">
            Flow
        </div>

        <textarea readonly id="console" class="console">Console</textarea>

        <div  align="right">
            <input type="button" class="btn btn-default" value="Reset" id="resetButton" onclick="reset()">
            <input type="button" class="btn btn-default" value="Execute" id="executeButton" onclick="execute()">
            <input type="button" class="btn btn-default" value="Save" id="saveButton" onclick="save()">
        </div>
    </div>

    <div class="col-md-3" >
        <textarea readonly class="configuration">configuration</textarea>
        <div class="visualisation">
                <img src="../static/img/upload_b.png" style="max-height:100%; max-width:100%; margin:auto; display:block" class="borderDiv">
        </div>
        <textarea readonly id="description" class="description">Description</textarea>
    </div>
</div>
{% endblock body %}


{% block javascript %}
    <script src="/static/js/main.js"></script>
{% endblock %}
